body {
  padding-top: 65px;
  height: 100%;
}

.content-wrapper {
  padding-bottom: 0.5em;
}

.introduction-section {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0.5em;
}

.introduction-text {
  text-align: justify;
}

.article-section {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap: 0.5em;
}

.introduction-section > div {
  background: #eeee;
  padding: 1em;
}

.article {
}

.introduction-video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

#hamburger-icon {
  color: black;
}

@media only screen and (max-width: 991px) {
  /* For smaller screens or mobile phones: */
  .article-section, .introduction-section {
    grid-template-columns: 1fr;
  }

  #navbar-list {
    display: none;
  }

}

nav li a {
  font-style: normal;
  padding: .75em; /* Added for mobile users to make it easier to click */
  text-decoration: none !important; /* Remove the underline */

  /* Learnt this hover code from: https://css-tricks.com/having-fun-with-link-hover-effects/ */
  background: linear-gradient(to bottom, #00cccc 0%, #00cccc 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: white;
  transition: background-size .5s;
}

nav li a:hover {
  background-size: 4px 50px;
}
/* End of code from 'css-tricks' */

/* FOOTER */
.footer-main {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  font-size: 10px;
  text-align: center;
  padding: 15px;
  bottom: 0px;
  color:gray;
  background: #eeee;
}

.footer-contact-information > ul {
    list-style-type: none;
}

.footer-socials-list li{
  display: inline-block;
}

.footer-socials-list li img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.footer-socials-list {
  margin: auto;
}

.footer-address {
  margin: auto;
}

@media only screen and (min-width: 991px) {
  #hamburger-icon {
    display: none;
  }
}
