body {
  padding-top: 65px;
  height: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.content-wrapper {
  padding-bottom: 0.5em;
}

.introduction-section {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0.5em;
}

.introduction-text {
  text-align: justify;
}

.article-section {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap: 0.5em;
}

.introduction-section > div {
  background: #eeee;
  padding: 1em;
}

.article {
}

.introduction-video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

#hamburger-icon {
  color: black;
}

@media only screen and (max-width: 991px) {
  /* For smaller screens or mobile phones: */
  .article-section, .introduction-section {
    grid-template-columns: 1fr;
  }

  #navbar-list {
    display: none;
  }

}

nav li a {
  font-style: normal;
  padding: .75em; /* Added for mobile users to make it easier to click */
  text-decoration: none !important; /* Remove the underline */

  /* Learnt this hover code from: https://css-tricks.com/having-fun-with-link-hover-effects/ */
  background: linear-gradient(to bottom, #00cccc 0%, #00cccc 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: white;
  transition: background-size .5s;
}

nav li a:hover {
  background-size: 4px 50px;
}
/* End of code from 'css-tricks' */

/* FOOTER */
.footer-main {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  font-size: 10px;
  text-align: center;
  padding: 15px;
  bottom: 0px;
  color:gray;
  background: #eeee;
}

.footer-contact-information > ul {
    list-style-type: none;
}

.footer-socials-list li{
  display: inline-block;
}

.footer-socials-list li img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.footer-socials-list {
  margin: auto;
}

.footer-address {
  margin: auto;
}

/* EXPERIENCES CSS */
.img-text {
  opacity: 0;
  text-align: center;
  transition: .5s ease;
}

.insta-img:hover .img-text {
  opacity: 1;
}

.content-wrapper-experiences {
  display: grid;
}

.banner {
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
}

.ex-main-image {
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.title-text-block {
  height:200px;
  line-height: 200px;
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  background: #dddd;
}

.insta-images-block {
  display: grid;
  grid-template-columns:repeat(5,1fr);
}

.insta-img {
  padding: 2px;
}

.insta-img > img{
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 991px) {
  #hamburger-icon {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .insta-images-block {
    grid-template-columns: 1fr;
  }
}
