* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
}

/* HEADER SECTION */
.header-bar {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
}


.header-logo {
  float: left;
  padding-left: 20px;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav {
  grid-area: nav;
}

nav {
  border-radius: 5px;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0.1em;
}

nav li a {
  font-weight: 900;
  font-style: normal;
  padding: .75em; /* Added for mobile users to make it easier to click */
  text-decoration: none; /* Remove the underline */
  text-transform: uppercase;
  font-size: .8em;

  /* Learnt this hover code from: https://css-tricks.com/having-fun-with-link-hover-effects/ */
  background: linear-gradient(to bottom, #00cccc 0%, #00cccc 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: white;
  transition: background-size .5s;
}

nav li a:hover {
  background-size: 4px 50px;
}
/* End of code from 'css-tricks' */

/* FOOTER */
#footer-contact-information {
  float: left;
}

#footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 70px; /* Footer height */

  font-size: 10px;
  text-align: center;
  padding: 20px;
  bottom:30px;
  color:gray;
  background-color: black;
}

#footer-socials {
  padding-right: 20px;
  float: right;
}

#footer-socials-list li{
  display: inline-block;
}

#footer-socials-list li img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

#footer-socials-list {
margin: auto;
}

address {
margin: auto;
padding-bottom: 20px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.first-column {
  float: left;
  width: 100%;
  padding: 5px;
}

.article {
  float:left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
